/* Base sidebar, paint it black */
/* --------------------------------------------------------------------------- */
.sidebar {
    position: fixed;
    background-color: var(--dark);
    overflow: hidden;
    color: var(--off-white);
    width: 280px;
    height: 100%;
    z-index: 5;
}

/* Create the flex column for all the items to sit inside */
/* --------------------------------------------------------------------------- */
.sidebar-list {
    list-style: none;
    padding: 0 8px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100%;
}

/* Aformentioned items */
/* --------------------------------------------------------------------------- */
.sidebar-list-item {
    font-size: 36px;
    margin: 32px 0 32px 16px;
    flex: 0;
}

.sidebar-item-user-options {
    font-size: 28px;
}

.sidebar-item-footer {
    margin: auto auto 64px auto;
    bottom: 0;
}

.sidebar-item-text {
    display: inline;
}

/* Fixes galore */
/* --------------------------------------------------------------------------- */

/* Fix the alignment of the svg icons, truly a fix of all time */
.sidebar-list-item svg {
    margin-bottom: 4px;
}

/* Make links look better */
.sidebar-link {
    text-decoration: none;
}

/* Create a reusable class for making fades, like a barber in North Brisbane */
/* --------------------------------------------------------------------------- */
.sidebar-item-fade {
    filter: grayscale(100%) opacity(0.9);
    color: var(--accent-orange);
    transition: var(--transition-speed);
}

.sidebar-item-fade:hover {
    filter: grayscale(0%) opacity(1);
    color: var(--accent-orange);
}

/* Search bar stuff */
/* --------------------------------------------------------------------------- */
.sidebar-item-search {
    display: block;
}

.sidebar-item-search-bar {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    font-size: 22px;
    color: var(--off-white);
    background-color: var(--dark);
    border: 2px solid var(--off-white);
    padding: 12px;
}

.sidebar-item-button {
    background: none;
    color: inherit;
    margin-left: 8px;
    border: hidden;
}

/* Attempts to make a nicer focus mode have failed, will try again later  */

/* Ensure that button border is visible when using keyboard navigation */
/* .focus-only:focus { */
/*     outline: none; */
/*     border: none; */
/* } */
/* .focus-visible-only:focus-visible { */
/*     outline: 2px solid var(--accent-orange); */
/*     border: none; */
/* } */

/* Media queries to make this shit mobile friendly */
/* --------------------------------------------------------------------------- */
@media only screen and (max-width: 700px) {
    .sidebar {
        bottom: 0;
        width: 100vw;
        height: 64px;
    }
    .sidebar-list {
        flex-direction: row;
        align-items: center;
    }
    .sidebar-list-item {
        margin: auto;
    }
    .sidebar-item-search,
    .sidebar-item-user-options,
    .sidebar-item-text,
    .sidebar-item-footer {
        display: none;
    }
    .sidebar-list-item img {
        width: 48px;
        height: 48px;
    }
}

/* For all the sicko freaks who use their phones in landscape mode */
@media only screen and (min-width: 700px) and (max-width: 900px) {
    .sidebar {
        width: 220px;
    }
    .sidebar-item-search-bar {
        font-size: 16px;
        width: 160px;
        height: 20px;
    }
    .sidebar-list-item {
        margin: 14px auto;
        font-size: 16px;
    }
    .sidebar-list-item img {
        width: 64px;
        height: 64px;
    }
}

/* For regular computer monitors and tablets. */
@media only screen and (min-width: 900px) {
    .sidebar-list-item img {
        width: 192px;
        height: 192px;
    }
    .sidebar-item-centered {
        margin: 32px auto;
    }
}
